<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
        <!--載入google map-->
    <script type="text/javascript"
            src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBkzBut_maXdkAsr_SpLlBtuKdEoVT_em0">
    </script>
    <body>
        <p>Hello world! This is HTML5 Boilerplate. This file is in views</p>
    </body>
</html>
